apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-base

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/part-of: jterrazz-infrastructure
    includeSelectors: false

resources:
  - storage/
  - platform-namespaces.yaml
  - network-policies/
  - traefik/traefik-config.yaml
  - traefik/middleware.yaml
  - traefik/global-https-redirect.yaml
