---
# Security Role Handlers

- name: Restart SSH
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Restart auditd
  ansible.builtin.systemd:
    name: auditd
    state: restarted
