apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-local

labels:
  - pairs:
      environment: local
    includeSelectors: false

resources:
  - ../../base
  - components/mdns-publisher.yaml
  - components/create-tls-certificates.yaml
  - components/local-ingresses.yaml
