apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-local

labels:
  - pairs:
      environment: local
    includeSelectors: false

resources:
  - ../../base
  - components/mdns-publisher.yaml
  - components/create-tls-certificates.yaml
  - components/local-ingresses.yaml

patches:
  # Enable insecure mode for ArgoCD in local dev
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
      namespace: platform-gitops
    patch: |-
      - op: add
        path: /data
        value: {}
      - op: add
        path: /data/server.insecure
        value: "true"
