# ApplicationSet that auto-generates ArgoCD Applications for all apps
# Apps are deployed based on their .deploy/manifest.yaml environments config
#
# To add a new app:
# 1. Add the repo name to the list below
# 2. Ensure the app has .deploy/manifest.yaml with environments.staging and/or environments.prod
#
# The chart will only deploy environments that are defined in the manifest.

apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: platform-gitops
spec:
  # Preserve helm parameters set by Image Updater (prevents ApplicationSet from overwriting them)
  ignoreApplicationDifferences:
    - jqPathExpressions:
        - .spec.sources[].helm.parameters
  generators:
    - matrix:
        generators:
          # List of app repositories
          - list:
              elements:
                - repo: signews-api
          # Environments to deploy (with image update config)
          - list:
              elements:
                - environment: staging
                  imageTag: latest
                  updateStrategy: digest
                - environment: prod
                  imageTag: "v*"
                  updateStrategy: semver
  template:
    metadata:
      name: "{{repo}}-{{environment}}"
      namespace: platform-gitops
      annotations:
        # ArgoCD Image Updater - watches registry for new images
        # Staging: uses :latest tag with digest strategy (auto-deploy on every push)
        # Prod: uses semver tags (v*) for controlled releases
        argocd-image-updater.argoproj.io/image-list: "app=registry.jterrazz.com/{{repo}}:{{imageTag}}"
        argocd-image-updater.argoproj.io/app.update-strategy: "{{updateStrategy}}"
        argocd-image-updater.argoproj.io/app.force-update: "true"
        argocd-image-updater.argoproj.io/app.helm.image-spec: spec.image
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      sources:
        # Source 1: Helm chart from infra repo
        - repoURL: https://github.com/jterrazz/jterrazz-infra.git
          targetRevision: HEAD
          path: kubernetes/charts/app
          helm:
            valueFiles:
              - $app/.deploy/manifest.yaml
            values: |
              environment: {{environment}}
        # Source 2: App repo (referenced as $app for valueFiles)
        - repoURL: "https://github.com/jterrazz/{{repo}}.git"
          targetRevision: main
          ref: app
      destination:
        server: https://kubernetes.default.svc
        namespace: "app-{{repo}}-{{environment}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
