# ArgoCD Application for n00-api
# News API service deployment to production

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n00-api-prod
  namespace: platform-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/jterrazz/n00-api.git
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: app-n00-api-prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
