# Registry pull secret for app namespaces
# Allows pods to pull from registry.jterrazz.com
# Password injected by Ansible from Pulumi

{% set apps = [
  {'name': 'signews-api', 'envs': ['staging', 'prod']},
  {'name': 'gateway-intelligence', 'envs': ['prod']},
  {'name': 'clawrr-web-landing', 'envs': ['prod']},
  {'name': 'clawssify-web-landing', 'envs': ['prod']}
] %}
{% for app in apps %}
{% for env in app.envs %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ env }}-{{ app.name }}
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: {{ env }}-{{ app.name }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "registry.jterrazz.com": {
          "username": "deploy",
          "password": "{{ registry_password }}"
        }
      }
    }
{% endfor %}
{% endfor %}
