# Registry pull secret for app namespaces
# Allows pods to pull from registry.jterrazz.com
# Password injected by Ansible from Pulumi

{% for app in ['signews-api', 'gateway-intelligence'] %}
{% for env in ['staging', 'prod'] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: app-{{ app }}-{{ env }}
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: app-{{ app }}-{{ env }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "registry.jterrazz.com": {
          "username": "deploy",
          "password": "{{ registry_password }}"
        }
      }
    }
{% endfor %}
{% endfor %}
