---
# Production Inventory
# IP is passed via command line: -e "ansible_host=<IP>"

all:
  children:
    production:
      hosts:
        jterrazz-vps:
          # Set via: pulumi stack output serverIp
          ansible_user: ubuntu
          ansible_ssh_private_key_file: ~/.ssh/id_rsa
          ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
