{{- if eq (include "app.envExists" .) "true" -}}
{{- if and .Values.registry .Values.registry.username .Values.registry.password -}}
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  labels:
    {{- include "app.labels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ .Values.registry.server }}": {
          "username": "{{ .Values.registry.username }}",
          "password": "{{ .Values.registry.password }}"
        }
      }
    }
{{- end }}
{{- end }}
