apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-production

commonLabels:
  environment: production

resources:
  - ../../base
  - patches/dashboard-ingress.yaml

patches:
  - path: patches/dashboard-content.yaml

images:
  - name: portainer/portainer-ce
    newTag: "2.19.4"
  - name: nginx
    newTag: "alpine"
