apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: infrastructure-production

labels:
  - pairs:
      environment: production
    includeSelectors: false

resources:
  - ../../base
